<ion-view view-title="Dashboard" class="wbf-dashboard">
    
    <ion-content class="padding">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit lacinia euismod. Morbi ac iaculis neque, ut scelerisque sem. Mauris dolor diam, dictum sed libero at, gravida faucibus arcu. Proin vel dui luctus, dapibus eros lacinia, posuere velit. Etiam dui sem, mattis vel mauris at, placerat semper velit. Ut quis aliquet est. Nunc sed sapien auctor, dignissim tortor ac, malesuada felis. Curabitur vel risus sem. Proin vitae enim nec dui vehicula tempor. Donec bibendum, tortor fringilla accumsan malesuada, nibh augue sodales turpis, in tincidunt enim mauris vel arcu. Curabitur nisi lectus, congue tempus augue ut, scelerisque blandit erat. Sed faucibus orci non pharetra eleifend. Aenean tempor purus ullamcorper cursus aliquet.
    </ion-content>

</ion-view>
