.wbf-menu {
    .item {
        color: $stable;
        background-color: $dark;
        border-color: #555555;
    }
    .item h3 {
        color: $stable;
    }
    .item label {
        background-color: $dark;
    }
    .item-icon-left .icon-accessory, .item-icon-right .icon-accessory {
        color: lighten($royal, 5);
        font-size: 24px;
        left: 11px;
    }
}

.wbf-options {
    a.item {
        text-overflow: initial;
        white-space: initial;
        color: $stable;
        background-color: $dark;
        border-color: #555555;
        white-space: normal !important;
        i.ion-ios-circle-filled {
            color: $link-color;
        }
        i.ion-ios-circle-outline {
            color: $link-color;
        }
    }
    .item-divider {
        background-color: lighten($dark, 2);
        height: 10px;
    }
}

.wbf-header-guide {
    .bar {
        border: none !important;
        background-color: $royal;
    }
    .bar .title {
        color: #ffffff;
    }
    .bar .button.button-clear {
        color: $light;
    }
}
.wbf-concerns {
    .scroll-content {
        background-color: $dark;
    }
    .item {
        color: $stable;
        border: none;
        // border-color: darken($stable, 30) !important; 
        font-size: 22px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        text-align: left;
        text-transform: uppercase;
        min-height: 60px;
        padding-top: 20px;
    }
    .item-icon-left .icon {
        font-size: 24px;
    }
    .item-icon-right .icon-accessory {
        font-size: 16px;
    }
    .item .badge {
        top: 14px;
    }
    .pane {
        background-color: $royal;
    }
}
.wbf-concern {
    h1 {
        color: $stable !important;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        text-transform: uppercase !important;
    }
}
.wbf-pray {
    h1 {
        color: $stable !important;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        text-transform: uppercase !important;
    }
    .scroll-content {
        background-color: lighten($royal, 3);
    }
}
.wbf-header-prepare {
    .bar {
        border: none !important;
        background-color: lighten($positive, 3);
    }
    .bar .title {
        color: #ffffff;
    }
    .bar .button.button-clear {
        color: $light;
    }
}
.wbf-prepare {
    h1 {
        color: $stable !important;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        text-transform: uppercase !important;
    }
    .scroll-content {
        background-color: lighten($positive, 3);
    }
}
.wbf-header-default {
    .bar {
        background-color: transparent;
        background-image: none;
        border: none !important;
    }
    .bar .title {
        color: #eee;
    }
    .bar .button.button-clear {
        color: $light;
    }
}
.wbf-header-dashboard {
    .bar {
        border: none !important;
        background-color: darken($balanced, 7);
    }
    .bar .title {
        color: #eee;
    }
    .bar .button.button-clear {
        color: #ffffff;
    }
}
.wbf-dashboard {
    h1 {
        color: $stable !important;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        text-transform: uppercase !important;
    }
    .scroll-content {
        background-color: darken($balanced, 7);
    }
}
.wbf-login {
    .login-div {
        min-height: 200px;
        background-color: $royal;
    }
}

.no-padding {
  padding: 0 !important;
}

.full-width {
  width: 100%;
}

.bar-subtab {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  border-width: 0;
  border-style: none;
  top: 44px;
  display: block;
  height: 44px; 
}

.align-center {
  position: fixed;
  left: 50%;
  top: 25px;
  width: 128px;
  height: 128px;
  margin-left: -64px;
}

.avatar {
    display: block;
    position: relative;
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    left: 11px;
    margin-top: 7px;
    text-align: center;
}
.avatar-large {
  display: block;
  position: relative;
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
  text-align: center; 
}

.ion-ios7-arrow-back:before {
  content: "\f3cf"; 
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

// css from swipe card
/* Your app's CSS, go crazy, make it your own */


    .ionic-logo {
      display: block;
      margin: 15px auto;
      width: 96px;
      height: 96px;
    }

    .pane {
      background-color: #333;
    }

    .bar.bar-transparent {
      background-color: transparent;
      background-image: none;
      border: none;
    }

    .bar .title {
      color: #eee;
    }

    .swipe-cards {
      position: fixed;
    }

    swipe-card {
      display: none;
      position: fixed;
      -webkit-transform: scale(1,1);
      // left: 50%;
      // top: 35%;
      // width: 300px;
      // height: 300px;
      // margin-left: -150px;
      // margin-top: -150px;
      left: 20px;
      top: 50%;
      width: 90%;
      height: 300px;
      margin-left: 0px;
      margin-top: -150px;
      box-sizing: border-box;
      background-color: rgb(255,255,255);
      border-radius: 4px;
      overflow: hidden;
      -webkit-animation-fill-mode: forwards;
    }

    swipe-card .title {
      height: 40px;
      padding: 5px;
      line-height: 30px;
      color: #444;
    }
    swipe-card .image {
      overflow: hidden;
      max-height: 210px;
    }
    swipe-card .button {
      border: none;
    }
    swipe-card .image img {
      width: 100%;
      border-radius: 0px 0px 4px 4px;
    }

    #start-card {
      color: #fff;
      background-color: #30BD8A;
      line-height: 300px;
      word-wrap: break-word;
      border: 6px solid #4CD68E;
      text-align: center;
    }
    #start-card span {
      display: inline-block;
      line-height: 40px;
      width: 200px;
      font-size: 30px;
      vertical-align: middle;
    }

    #footer .button {
      color: #fff;
    }

    @-webkit-keyframes bounceIn {
      0% {
        -webkit-transform: scale(0,0);
      }
      70% {
        -webkit-transform: scale(1.2,1.2);
      }
      100% {
        -webkit-transform: scale(1,1);
      }
    }

    swipe-card.pop-in-start {
      -webkit-transform: scale(0,0);
    }
    swipe-card.pop-in {
      -webkit-animation: bounceIn 0.4s ease-out;
    }


